
manifest {
    name                                  = 'imputation-panels'
    version                               = 'v0.0.3'
    description                           = 'Create refereence panels for Michigan Imputation Server'
    author                                = 'Sebastian Schönherr & Lukas Forer'
    homePage                              = 'https://github.com/seppinho/imputation-panels'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {
    project       = null
    recom_format_out  = "vcf.gz"
    files         = null    
    target_length = 25000000
    shuffle       = false
}

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

    process.container                 = 'quay.io/genepi/imputation-panels:v0.0.3'
    docker.enabled                    = true
    docker.userEmulation              = true
    singularity.enabled               = false
    
    development {
        process.container                 = 'genepi/imputation-panels:latest'
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }

    docker {
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
    }

    singularity {
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    
    slurm {
        process.executor                  = 'slurm'
        errorStrategy                     = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors                         = '-1'
        maxRetries                        = 3
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    



}
